%h1 nullZone

= link_to 'Lista de usuários', usuarios_path
%br/
= link_to 'Área geral', topicos_path
%br/
= link_to 'Cadastro', new_usuario_path
%br
- if !current_usuario
  = link_to 'Entrar', logar_path
