%div.message-cover.clear-outline.d-flex.h-100.w-100.justify-content-center.align-items-center{ tabindex: '-1' }
  %div.message-box.rounded-border.box-shadow.text-center.text-white.p-2.font-big
    %i.fas.fa-check-circle
    Denúncia enviada
    %p.m-0
      Pressione
      %b
        %u Enter
      para continuar

:javascript
  // Show up message background and give it focus
  $messageBg = $('.message-cover');

  $messageBox = $('.message-box');
  $messageBox.css('left', '-75%');
  $messageBg.focus();

  // Right slide from begin to middle
  $messageBox.animate({ left: 0 }, 600)

  // Right slide from middle to end
  $messageBg.on('keydown', function(event) {
    // 'Enter' key
    if (event.keyCode === 13) {
      $messageBox.removeAttr('style');
      $messageBox.animate({ right: '-75%' }, 600, function() {
        $('.message-bg + script').remove();
        $messageBg.remove();
      });
    }
  });
