%div.message-bg.clear-outline.flex-row.fill-parent-height.fill-parent-width.h-center.v-center{ tabindex: '-1' }
  %div.message-box.border-rounded.box-shadow.text-center
    %i.fas.fa-check-circle
    Denúncia enviada
    %p.clear-margin
      Pressione
      %b Enter
      para continuar

:javascript
  // Show up message background and give it focus
  $messageBg = $('.message-bg');

  $messageBox = $('.message-box');
  $messageBox.css('left', '-75%');
  $messageBg.focus();

  // Right slide from begin to middle
  $messageBox.animate({ left: 0 }, 600)

  // Right slide from middle to end
  $messageBg.on('keydown', function(event) {
    // 'Enter' key
    if (event.keyCode === 13) {
      $messageBox.removeAttr('style');
      $messageBox.animate({ right: '-75%' }, 600, function() {
        $('.message-bg + script').remove();
        $messageBg.remove();
      });
    }
  });
