%div#leave-a-post.text-center
  = form_with class: 'd-inline-flex flex-column', model: [@topic, Post.new] do |form|
    = form.hidden_field :current_page, value: current_page

    %div.d-flex.justify-content-center
      %div.left.bold.box-shadow.text-white.d-flex.justify-content-center.align-items-center
        Mensagem

      = form.text_area :message, id: 'text-box', class: 'border-0 m-0 clear-outline text-white'

    = form.button 'Enviar', class: 'bold box-shadow border-0 rounded-border',
      data: { disable_with: 'Enviando... ' }
