%h1.color-white Lista de usuários

- if @users.any?
  - @users.each do |user|
    %div.user-row.color-white.flex-row.h-middle-space
      %div
        %div.left.flex-row
          = set_avatar(user, size: 30)

        %div.right
          %b
            = link_to user.login, user_path(user), class: 'link-color-white'

      %div.middle
        Entrou em:
        = format_date(user.created_at)

      %div.right
        Posts:
        = user.posts.count

    %hr

- else
  Nenhum usuário cadastrado
