:javascript
  $(document).ready(function() {
    $('.topbar').css('display', 'none');
    $('.banner').css('display', 'none');
    $('.footer').css('display', 'none');
  });

  document.location.href = "#{topic_path(@post.topic, anchor: @post.id, page: find_post_page(@post))}";

%div{ style: 'align-items: center; display: flex; height: 75vh; justify-content: center;'}
  %h1.center-header Já vai...
