.panel-grid {
  margin-bottom: 20px;
  
  > div {
    flex: 0 20%;
    padding: 0 5px 10px 5px;
  }
}

.panel-cell {
  background: #eee;
  border-radius: 5px;
  box-shadow: 0 5px 2px #222;
  color: #555;
  padding: 10px;

  > .left > img {
    display: block;
    margin-right: 5px;
  }

  > .right > a {
    color: #999;

    &:hover {
      color: red;
      text-decoration: none;
    }
  }

  > div {
    min-width: 40px;

    > *:not(:last-child) {
      margin-right: 5px;
    }
  }
}
