.panel-cell {
  background: #111;
  border-radius: 5px;
  box-shadow: 0 5px 2px #222;

  a {
    color: #999;

    &:visited {
      color: #999;
    }

    &:hover {
      color: red;
      text-decoration: none;
    }
  }
}
