.ban-cell {
  background: #999;
  border-left: 12px solid black;
  box-shadow: 5px 5px 5px black;
  min-height: 40px;
  padding: 10px;

  & + .ban-cell {
    margin-top: 20px;
  }

  > span {
    margin-right: 15px;
  }

  a, button {
    background: none;
  }
}
