.ban-cell {
  align-items: center;
  background: #999;
  border-left: 12px solid black;
  box-shadow: 5px 5px 5px black;
  display: flex;
  justify-content: space-between;
  color: white;
  min-height: 40px;
  padding: 10px;

  & + .ban-cell {
    margin-top: 20px;
  }

  > span {
    margin-right: 15px;
  }

  > div {
    > form {
      display: inline;
    }
  }

  a, button {
    background: none;
    border: 0;
    font-size: 1rem;

    &:hover {
      cursor: pointer;
      color: white;
      text-decoration: none;
    }
  }

  > form {
    display: inline;
  }
}
