.message-bg {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 999;

  > .message-box {
    background: #ccc;
    font-size: 1.2em;
    padding: 10px;
    width: 30%;
    position: relative;
    top: -5%;
    
    > i {
      color: rgb(0, 160, 0);
    }
    
    > p > b {
      text-decoration: underline;
    }
  }
}

.complaints-grid {

  > div {
    flex: 0 20%;
    padding: 10px;
  }

  .complaint-box {
    background: linear-gradient(to right, #888, #aaa);
    transition: all 0.2s ease;

    &:hover {
      transform: scale(1.07, 1.07);
    }

    > .top {
      background: linear-gradient(to right, #bbb, #ddd);
      padding: 5px 10px;
    }

    > .middle {
      padding: 10px;
    }

    > .bottom {
      padding: 10px;
    }
  }
}
