* {
  box-sizing: border-box;
}

html {
  font-size: 0.7em;
  
  @include media-breakpoint-up(sm) {
    font-size: 0.8em;
  }

  @include media-breakpoint-up(md) {
    font-size: 0.9em;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1em;
  }
}

body {
  background: linear-gradient(to top, #333, #444);
  font-family: 'Titillium Web', sans-serif !important;
}

button, form, input, select, textarea {
  font-family: 'Titillium Web', sans-serif !important;
  font-size: inherit;
}

a {
  color: white;
  text-decoration: none;

  &:active {
    color: none;
  }

  &:visited {
    color: white;
  }

  &:hover {
    color: white;
  }
}

hr {
  border: 0;
  height: 1px;
  margin: 0;
}

.banner {
  background: linear-gradient(to bottom, black, #222);
  height: 15vh;
}

.sidebar-main-wrapper > .main-content {
  > main {
    min-height: 100vh;
    padding: 2rem;
  }

  > footer {
    background: linear-gradient(to bottom, black, #222);
    font-size: calc(1.1rem + 0.5vw);
    min-height: calc(25vh + 5vw);
  }

  @include media-breakpoint-down(md) {
    margin-left: 0 !important;
  }
}

.localization {
  background: linear-gradient(to bottom, black, #111);
  color: white;
  margin-bottom: 1.3em;
  padding: 0.6rem 1.3em;

  a {
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Helpers
.bg-black {
  background: black;
}

.bold {
  font-weight: bold;
}

.box-shadow {
  box-shadow: 0 0 2px black;
}

.clear-outline:focus {
  outline: none;
}

.ellipsis-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

.font-big {
  font-size: 1.2em;
}

.rounded-border {
  border-radius: 2px;
}

.text-black {
  color: black;
}

.text-underline-hover:hover {
  text-decoration: underline;
}
