* {
  box-sizing: border-box;
}

html {
  font-size: 0.7em;

  @include media-breakpoint-up(sm) {
    font-size: 0.8em;
  }

  @include media-breakpoint-up(md) {
    font-size: 0.9em;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1em;
  }
}

body {
  background: linear-gradient(to top, #333, #444);
  font-family: 'Titillium Web', sans-serif !important;
}

button, form, input, select, textarea {
  font-family: 'Titillium Web', sans-serif !important;
  font-size: inherit;
}

a {
  color: white;
  text-decoration: none;

  &:active {
    color: none;
  }

  &:visited {
    color: white;
  }

  &:hover {
    color: white;
  }
}

hr {
  border: 0;
  height: 1px;
  margin: 0;
}

.custom-tooltip {
  border-radius: 3px;
  background: #333;
  color: white;
  font-size: 0.9em;
  padding: 0.1em 0.25em;
  position: absolute;
  visibility: hidden;

  &::before {
    box-sizing: border-box;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    content: '';
    left: calc(50% - 0.5em);
    position: absolute;
  }
}

.custom-tooltip.arrow-above {
  &::before {
    border-bottom: 0.5em solid #333;
    border-top: 0;
    bottom: 100%;
    top: initial;
  }
}

.custom-tooltip.arrow-below {
  &::before {
    border-bottom: 0;
    border-top: 0.5em solid #333;
    bottom: initial;
    top: 100%;
  }
}

@include media-breakpoint-up(md) {
  .custom-tooltip.arrow-md-above {
    &::before {
      border-bottom: 0.5em solid #333;
      border-top: 0;
      bottom: 100%;
      top: initial;
    }
  }

  .custom-tooltip.arrow-md-below {
    &::before {
      border-bottom: 0;
      bottom: initial;
      border-top: 0.5em solid #333;
      top: 100%;
    }
  }
}

.banner {
  background: linear-gradient(to bottom, black, #222);
  height: 15vh;
}

.sidebar-main-wrapper > .main-content {
  > main {
    min-height: 100vh;
    padding: 2rem;
  }

  > footer {
    background: linear-gradient(to bottom, black, #222);
    font-size: calc(1.1rem + 0.5vw);
    min-height: calc(25vh + 5vw);
  }

  @include media-breakpoint-down(md) {
    margin-left: 0 !important;
  }
}

.scrolling-btns {
  bottom: 2rem;
  position: fixed;
  right: 2rem;

  > button {
    background: rgba(0, 0, 0, 0.5);
    color: #aaa;
    border: 0;
    border-radius: 50%;
    height: 2.25em;
    width: 2.25em;

    &:hover {
      background: black;
      color: white;
    }
  }
}

.localization {
  background: linear-gradient(to bottom, black, #111);
  color: white;
  margin-bottom: 1.3em;
  padding: 0.6rem 1.3em;

  a {
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Helpers
.bg-black {
  background: black;
}

.bold {
  font-weight: bold;
}

.box-shadow {
  box-shadow: 0 0 2px black;
}

.clear-outline:focus {
  outline: none;
}

.ellipsis-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

.font-big {
  font-size: 1.2em;
}

.rounded-border {
  border-radius: 2px;
}

.text-black {
  color: black;
}

.text-underline-hover:hover {
  text-decoration: underline;
}
