.custom-modal {
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 999;
  
  .modal-box {
    height: fit-content;
    position: relative;
    top: 30%;
    width: calc(1rem + 25vw);
    
    > header {
      background: #111;
      border-radius: 3px 3px 0 0;

      > button {
        background: none;
        color: #555;

        &:hover {
          color: white;
        }
      }
    }

    > .content {
      background: #222;
      border-radius: 0 0 3px 3px;
      min-height: 75px;

      > div:first-child {
        font-size: 1.1em;
      }

      > div:last-child {

        > * {
          box-sizing: border-box;
          flex: 1;

          &:first-child {
            margin-right: 5px;
          }

          &:last-child {
            margin-left: 5px;
          }
        }
        
        button, input[type='submit'] {
          background: #333;
          color: #ccc;
          padding: 3px;

          &:hover {
            background: black;
            color: white;
          }
        }
      }
    }
  }
}
