// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-link {
  display: inline-block;
  margin-bottom: 10px;

  img {
    height: 100%;
    max-height: 125px;
    max-width: 125px;
    min-height: 125px;
    width: 100%;
  }
}

.img-link:hover {
  text-decoration: none;
}

@keyframes slide {
  from {top: -300px; opacity: 0}
  to {top: 230px; opacity: 1}
}

@keyframes fade {
  from {opacity: 1}
  to {opacity: 0}
}

.modal-del {
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  height: 110%;
  margin-left: -10%;
  margin-top: -10%;
  position: fixed;
  width: 110%;
  z-index: 1;
  
  .modal-wrapper {
    animation: slide 0.4s;
    background-color: #ddd;
    border-radius: 1px;
    box-shadow: 0 0 5px black;
    color: #000;
    height: 30%;
    margin: auto;
    opacity: 1;
    position: relative;
    top: 230px;
    width: 30%;

    div {
      border: 0 solid black;
      border-radius: 0;
    }
    
    .modal-content {
      background-color: #bbb;
      font-size: 17px;
      height: 50%;
      padding: 15px;
      position: relative;
      text-align: left;
    }

    .modal-foot {
      background-color: #444;
      color: white;
      height: 25%;
      padding: 3%;
      position: relative;
      text-align: center;
      
      form {
        display: inline;
      }

      button, input {
        background-color: #777;
        border-color: #777;
        color: black;
        font-weight: bold;
        margin: 0 1%;
        width: 45%;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
      }

      button:hover, input:hover {
        background-color: black;
        border-color: black;
        color: white;
      }
    }

    .modal-head {
      background-color: #444;
      color: white;
      height: 25%;
      padding: 3%;
      position: relative;
      text-align: left;
      
      .close-modal {
        font-size: 23px;
        position: absolute;
        right: 3%;
        top: 10%;
      }
      
      .close-modal:hover {
        color: black;
        cursor: pointer;
      }
    }
  }
  
  .modal-fade {
    animation: fade 0.4s;
  }
}

.post-box {
  text-align: center;

  p:first-child {
    display: inline-block;
    font-size: 14px;
    text-align: left;
  }

  p {
    input[type='submit'] {
      box-shadow: 0 0 2px black;
    }
  }

  table {
    border-spacing: 3px;
    border-collapse: separate;
    display: inline-block;
    margin-bottom: 0px;

    .left {
      background-color: #444;
      border: 1px solid black;
      color: white;
      padding: 0 15px;
    }

    td {
      input[type='text'] {
        border: 1px solid black;
        padding-left: 5px;
        width: 100%;
      }

      textarea {
        border: 1px solid black;
      }

      .file-chooser {
        background-color: #222;
        border: 1px solid black;
        color: #aaa;
        cursor: pointer;
        display: inline-block;
        padding: 14px 0;
        width: 100%;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
      }

      .file-chooser:hover {
        background-color: black;
        border: 1px solid white;
        color: white;
      }
    }
  }
}

.post-wrapper {
  background-color: #aaa;
  box-shadow: 0 0 3px black;
  font-size: 0;
  min-height: 43%;

  div {
    display: inline-block;
    vertical-align: top;
  }

  .post-edit-msg {
    color: #eee;
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: auto;
  }

  .user-info {
    color: #555;
    display: inline-block;
    font-size: 16px;
    height: 100%;
    padding: 30px 10px 10px 10px;
    text-align: center;
    width: 20%;

    a {
      color: black;
    }
  }

  .user-post-space {
    background-color: #bbb;
    border-left: 1px solid #999;
    font-size: 0;
    height: 100%;
    position: relative;
    text-align: left;
    width: 80%;
    word-wrap: break-word;

    div {
      background-color: #bbb;
      display: inline-block;
      font-size: 16px;
      padding: 10px;
      text-align: left;
      width: 100%;
    }

    .assinatura {
      height: 30%;
      padding-top: 0;

      hr {
        background-color: black;
        margin: 2px 0 5px 0;
      }
  
      h5 {
        color: #444;
      }
    }

    .user-msg {
      position: relative;

      div {
        padding: 0;
      }

      iframe {
        width: 70%;
      }

      img {
        margin-bottom: 70px;
        margin-top: 10px;
        width: 70%;
      }

      hr {
        background-color: #999;
        margin-top: 0.5%;
      }

      .options {
        bottom: 10px;
        color: black;
        position: absolute;
        right: 10px;
    
        form {
          display: inline;
        }
    
        a, button {
          background-color: #888;
          border: 1px solid black;
          display: inline-block;
          margin-left: 3px;
          padding: 1px 8px;
          -webkit-transition: all 0.1s;
          -moz-transition: all 0.1s;
          -ms-transition: all 0.1s;
          -o-transition: all 0.1s;
          transition: all 0.1s;
        }
    
        a:hover, button:hover {
          background-color: black;
          color: white;
          text-decoration: none;
        }
    
        input[type='submit'] {
          background-color: #888;
          border: 1px solid black;
          font-weight: bold;
          -webkit-transition: all 0.1s;
          -moz-transition: all 0.1s;
          -ms-transition: all 0.1s;
          -o-transition: all 0.1s;
          transition: all 0.1s;
        }
    
        input[type='submit']:hover {
          background-color: black;
          border-color: black;
          background-color: black;
          color: white;
        }
      }

      .post-info {
        color: #555;
        display: block;
        position: relative;
    
        .post-right {
          position: absolute;
          right: 0;

          span {
            display: inline-block;
          }
    
          .post-op-tag {
            background-color: #555;
            border-radius: 3px;
            color: white;
            margin-right: 5px;
            text-align: center;
            width: 35px;
          }

          .post-rating {
            color: black;
            margin-right: 15px;
            
            form {
              display: inline;
            }

            .disabled-rating, .neg-rating, .no-rating, .pos-rating {
              border: 0;
              font-size: 15px;
              font-weight: bold;
              margin-right: 11px;
            }

            .disabled-rating {
              background-color: rgba($color: black, $alpha: 0.4);
              color: rgba($color: white, $alpha: 0.5);              
            }

            .disabled-rating:hover {
              background-color: rgba($color: black, $alpha: 0.4);
            }


            .neg-rating {
              background-color: black;
              color: red;
            }

            .neg-rating:hover {
              box-shadow: 0 0 3px red;
              text-shadow: 0 0 3px red;
            }

            .neg-sum {
              color: red;
            }

            .no-rating {
              background-color: black;
              color: white;
            }

            .no-rating:hover {
              box-shadow: 0 0 3px white;
              text-shadow: 0 0 3px white;
            }

            .pos-rating {
              background-color: black;
              color: rgb(0, 102, 255);
            }

            .pos-rating:hover {
              box-shadow: 0 0 3px rgb(0, 102, 255);
              text-shadow: 0 0 3px rgb(0, 102, 255);
            }
          }
        }
      }

      .quote {
        background-color: #999;
        box-shadow: 0 0 1px black;
        color: white;
        margin-bottom: 10px;
        margin-top: 5px;

        .content {
          background-color: #999;
          padding: 10px;
        }

        .head {
          background-color: #777;
          font-weight: bold;
          padding: 10px;

          a {
            color: #222;
          }
        }
      }

      .spoiler {
        background-color: black;
        color: black;
      }

      .spoiler:hover {
        color: white;
      }

      .video {
        display: inline;
        padding: 0;
      }
    }
  }
}
