@keyframes expand {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes shrink {
  from {
    opacity: 1;
    transform: scale(1, 1);
  }

  to {
    opacity: 0;
    transform: scale(0, 0);
  }
}

.post-anchor {
  position: relative;
  top: -5rem;
}

.post {
  box-shadow: 0 0 5px black;
  display: flex;
  word-break: break-all;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  // Post owner info
  > .user-info {
    background: #222;
    color: white;
    font-size: 0.9em;

    a > img {
      height: 5em;
      width: 5em;
    }

    b {
      font-size: 1.2em;
    }

    @include media-breakpoint-up(sm) {
      a > img {
        height: 6.5em;
        width: 6.5em;
      }
    }

    @include media-breakpoint-up(md) {
      a > img {
        height: 8em;
        width: 8em;
      }
    }
  }

  // Post content
  > .content {
    background: linear-gradient(to bottom, #333, #444);
    flex: 1;

    // Info
    .content-info {
      color: #ccc;
      flex: 1;
      font-size: 0.9em;

      > hr {
        background: #666;
      }

      > div > div {
        > *:not(:first-child) {
          margin-left: 0.5rem;
        }

        .op-label {
          background: #222;
          padding: 0 0.5em;
        }
      }
    }

    // Message itself
    .message {
      flex: 8 200px;

      @include media-breakpoint-down(sm) {
        flex: 1 150px;
      }

      @include media-breakpoint-down(xs) {
        flex: 1 100px;
      }

      > .msg-text {
        flex: 1;
        padding: 0.25rem 0 1rem;

        a {
          color: rgb(0, 120, 255);
        }

        .video {
          margin-bottom: 0.5em;

          > iframe {
            width: 60%;
            height: 350px;
          }
        }

        .spoiler {
          background: black;
          color: black;
          padding: 0 2px 0;

          &:hover {
            color: white;
          }
        }

        .quote {
          --quote-border: 2px;
          box-shadow: 0 0 2px black;
          border-radius: var(--quote-border);
          margin: 0.5rem 0;

          > div {
            padding: 5px 10px;
          }

          > .header {
            background: #111;
            border-radius: var(--quote-border) var(--quote-border) 0 0;
            font-weight: bold;

            > a {
              color: white;
            }
          }

          > .content {
            background: #444;
            border-radius: 0 0 var(--quote-border) var(--quote-border);
            padding: 10px 10px 20px 10px;
          }
        }
      }

      > .msg-options {
        font-size: 0.8em;

        > div:last-child > div > :not(:last-child) {
          margin-right: 0.25rem;
        }

        a {
          align-items: center;
          display: inline-flex;
          justify-content: center;
        }
        
        a, button {
          background: #222;
          border: 0;
          border-radius: 50%;
          color: #ccc;
          height: 2em;
          padding: 0.25em;
          text-align: center;
          width: 2em;

          &:hover {
            background: black;
            color: white;
            text-decoration: none;
          }

          @include media-breakpoint-up(sm) {
            border-radius: 0;
            padding: 0.25em 0.5em;
            height: 2.15em;
            width: auto;
          }
        }

        .rating-btns {
          > * {
            display: inline-block;

            &:not(:last-child) {
              margin-right: 0.25em;
            }
          }

          button {
            background: black;
            color: white;
          }

          button:not([disabled='disabled']) {
            &:hover {
              box-shadow: 0 0 5px white;
              text-shadow: 0 0 5px white;
              cursor: pointer;
            }
          }

          button.positive {
            color: rgb(9, 255, 0);

            &:hover {
              box-shadow: 0 0 5px rgb(9, 255, 0);
              text-shadow: 0 0 5px rgb(9, 255, 0);
            }
          }

          button.negative {
            color: red;

            &:hover {
              box-shadow: 0 0 5px red;
              text-shadow: 0 0 5px red;
            }
          }

          button[disabled='disabled'] {
            background: #333;
            color: #bbb;
          }

          button[disabled='disabled'].positive {
            color: rgb(100, 255, 100);

            &:hover {
              box-shadow: none;
              text-shadow: none;
            }
          }

          button[disabled='disabled'].negative {
            color: rgb(255, 100, 100);

            &:hover {
              box-shadow: none;
              text-shadow: none;
            }
          }
        }

        .final-rating {
          color: #ccc;
        }
      }
    }

    // Signature
    @include media-breakpoint-up(md) {
      .signature {
        flex: 3 100px;
        font-size: 0.9em;

        hr {
          background: #999;
        }

        > span {
          color: black;
          font-size: 1.5em;
        }
      }
    }
  }
}
