@keyframes expand {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes shrink {
  from {
    opacity: 1;
    transform: scale(1, 1);
  }

  to {
    opacity: 0;
    transform: scale(0, 0);
  }
}

.post-anchor {
  position: relative;
  top: -65px;
}

.post {
  box-shadow: 0 0 5px black;
  
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  // Post owner info
  > .user-info {
    background: linear-gradient(to top, #777, #999);
    flex: 1;
    padding: 30px;

    b {
      font-size: 1.2em;
    }
  }

  // Post content
  > .content {
    background: linear-gradient(to top, #aaa, #ccc);
    flex: 8;
    padding: 10px;

    hr {
      height: 1px;
      margin: 5px 0 0 0;
    }

    // Info
    .content-info {
      color: #777;
      flex: 1;

      > div {

        > div  {
          > *:not(:first-child) {
            margin-left: 5px;
          }
        }

        .rating-btns {

          > * {
            display: inline;

            &:not(:last-child) {
              margin-right: 5px;
            }
          }

          input[type='submit'], button:not([disabled='disabled']) {
            &:hover {
              box-shadow: 0 0 5px white;
              text-shadow: 0 0 5px white;
              cursor: pointer;
            }
          }

          input[type='submit'].positive, button.positive {
            --colour: rgb(9, 255, 0);
            color: var(--colour);

            &:hover {
              box-shadow: 0 0 5px var(--colour);
              text-shadow: 0 0 5px var(--colour);
            }
          }

          input[type='submit'].negative, button.negative {
            --colour: red;
            color: var(--colour);

            &:hover {
              box-shadow: 0 0 5px var(--colour);
              text-shadow: 0 0 5px var(--colour);
            }
          }

          button[disabled='disabled'] {
            background: #555;
            color: #aaa;
          }
        }

        .rating {
          color: #444;
        }

        .op-label {
          background: #666;
          padding: 0px 7px;
        }
      }

      > hr {
        background: #888;
        margin-top: 3px;
      }
    }

    // Message itself
    .message {
      flex: 10 200px;

      > .msg-text {
        flex: 1;
        padding: 10px 0;

        a {
          color: rgb(0, 120, 255);
        }

        .video {
          margin-bottom: 10px;

          > iframe {
            width: 60%;
            height: 350px;
          }
        }

        .spoiler {
          background: black;
          color: black;
          padding: 0 2px 0;

          &:hover {
            color: white;
          }
        }

        .quote {
          --quote-border: 2px;
          box-shadow: 0 0 2px black;
          border-radius: var(--quote-border);
          margin-bottom: 15px;

          > div {
            padding: 5px 10px;
          }

          > .header {
            background: #555;
            border-radius: var(--quote-border) var(--quote-border) 0 0;
            font-weight: bold;

            > a {
              color: black;
            }
          }

          > .content {
            background: #999;
            border-radius: 0 0 var(--quote-border) var(--quote-border);
            padding: 10px 10px 20px 10px;
          }
        }
      }

      > .msg-options {

        > span {
          color: #eee;
        }

        > div {

          a, button {
            background: #eee;
            color: #555;
            font-size: 1.05em;
            padding: 3px 5px;
            
            &:hover {
              background: white;
              color: black;
              cursor: pointer;
              text-decoration: none;
            }
          }

          > span {
            background: #eee;
            border: 1px solid black;
            width: 100px;
          }
        }
      }
    }

    // Signature
    .signature {
      flex: 5 100px;

      > span {
        color: #444;
        font-size: 1.5em;
      }
    }

    .message > div, .signature > div {
      max-width: 76vw;
      word-wrap: break-word;
    }
  }
}
