// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-link {
  display: inline-block;
  margin-bottom: 10px;

  img {
    max-height: 125px;
    max-width: 125px;
    min-height: 125px;
    height: 100%;
    width: 100%;
  }
}

.img-link:hover {
  text-decoration: none;
}

.post-box {
  p {
    margin-top: 20px;
  }

  table {
    border-spacing: 3px;
    border-collapse: separate;
    display: inline-block;
    margin-bottom: 0px;

    .left {
      background-color: #444;
      border: 1px solid black;
      color: white;
      padding: 0 15px;
    }

    td {
      input[type='text'] {
        border: 1px solid black;
        padding-left: 5px;
        width: 100%;
      }

      textarea {
        border: 1px solid black;
      }

      .file-chooser {
        background-color: #222;
        border: 1px solid black;
        color: #aaa;
        cursor: pointer;
        display: inline-block;
        padding: 14px 0;
        width: 100%;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
      }

      .file-chooser:hover {
        background-color: black;
        border: 1px solid white;
        color: white;
      }
    }
  }
}

.post-wrapper {
  background-color: #aaa;
  box-shadow: 0 0 3px black;
  font-size: 0;
  margin-bottom: 15px;
  margin-top: 15px;
  min-height: 43%;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;

  div {
    display: inline-block;
    vertical-align: top;
  }

  .options {
    bottom: 10px;
    color: black;
    position: absolute;
    right: 10px;

    form {
      display: inline;
    }

    a {
      background-color: #888;
      border: 1px solid black;
      display: inline-block;
      margin-left: 3px;
      padding: 1px 8px;
      -webkit-transition: all 0.1s;
      -moz-transition: all 0.1s;
      -ms-transition: all 0.1s;
      -o-transition: all 0.1s;
      transition: all 0.1s;
    }

    a:hover {
      background-color: black;
      color: white;
      text-decoration: none;
    }

    input[type='submit'] {
      background-color: #888;
      border: 1px solid black;
      font-weight: bold;
      -webkit-transition: all 0.1s;
      -moz-transition: all 0.1s;
      -ms-transition: all 0.1s;
      -o-transition: all 0.1s;
      transition: all 0.1s;
    }

    input[type='submit']:hover {
      background-color: black;
      border-color: black;
      background-color: black;
      color: white;
    }
  }

  .post-edit-msg {
    color: #eee;
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: auto;
  }

  .user-info {
    color: #555;
    display: inline-block;
    font-size: 16px;
    height: 100%;
    padding: 30px 10px 10px 10px;
    text-align: center;
    width: 20%;

    a {
      color: black;
    }
  }

  .user-post-space {
    background-color: #bbb;
    border-left: 1px solid #999;
    font-size: 0;
    height: 100%;
    position: relative;
    text-align: left;
    width: 80%;

    div {
      background-color: #bbb;
      display: inline-block;
      font-size: 16px;
      padding: 10px;
      text-align: left;
      width: 100%;
    }

    .assinatura {
      padding-top: 0;
      height: 30%;

      hr {
        background-color: black;
        margin: 1px 0 5px 0;
      }
  
      h5 {
        color: #444;
      }
    }

    .user-msg {
      position: relative;

      iframe {
        width: 70%;
      }

      img {
        margin-bottom: 70px;
        margin-top: 10px;
        width: 70%;
      }

      hr {
        background-color: #999;
        margin-top: 0.5%;
      }

      .video {
        margin-bottom: 30px;
        margin-top: 15px;
        padding: 0;
      }

      .post-info {
        color: #555;
        display: block;
        position: relative;
    
        .post-right {
          position: absolute;
          right: 0;

          span {
            display: inline-block;
          }
    
          .post-op-tag {
            background-color: #555;
            border-radius: 3px;
            color: white;
            margin-right: 5px;
            text-align: center;
            width: 35px;
          }          
        }
      }
    }
  }
}
