.section-wall {
  background: linear-gradient(to top, #ddd, white);
  margin-bottom: 20px;
  min-height: 200px;

  .left {
    flex: 4;
    position: relative;

    > div:first-child > hr {
      background: #aaa;
      height: 1px;
    }

    > div:not(:last-child) {
      margin: 0 0 15px 0;
    }
  }

  .right {
    border-left: 1px solid #aaa;
    flex: 1;
  }
}
