.sidebar {
  flex: 1;
  left: -175px;
  overflow: auto;
  position: absolute;
  width: 175px;
  
  > .header {
    background: #555;
    padding: 5px;
  }

  > .content {
    background: linear-gradient(to bottom, #111, #222);
    flex: 1;
    padding-top: 10px;
    
    > ul > li {
      list-style-type: none;

      a {
        padding: 2px 5px;

        &:hover {
          background: white;
          color: black;
          text-decoration: none;
        }
      }
    }
  }
}
