.user-thread-stack {
  margin-bottom: 50px;

  > div {
    background: linear-gradient(to top, #ccc, #eee);
    border-bottom: 1px solid black;
    min-height: 75px;

    // Filler blank header
    &:first-child {
      background: linear-gradient(to top, #777, #999);
      min-height: 40px;
    }

    &:last-child {
      border-bottom: 0;
    }

    // Each block is divided into 2 blocks
    > .left {
      flex: 8;
      padding: 15px;

      a {
        font-size: 1.3rem;
      }
    }

    > .right {
      border-left: 1px solid black;
      flex: 1;
    }
  }
}

.thread-stack {
  // Filler blank header
  > div:first-child {
    background: linear-gradient(to top, #444, #555);
    height: 40px;
  }

  // Separator between pinned and unpinned topics
  > .separator {
    background: #eee;
    border-bottom: 1px solid #555;
    border-top: 1px solid #555;
    height: 10px;
  }

  > .thread:not(:first-child) {
    border-top: 1px solid #666;
  }
  
  > .separator + .thread {
    border: 0;
  }
  
  // Thread blocks
  > .thread {

    // Each block is divided into 3 blocks
    > div:not(:last-child) {
      border-right: 1px solid #666;
    }

    > .info {
      flex: 15 100px;

      > div:first-child {
        padding: 20px;

        > a > img, > img {
          display: block;
          height: 55px;
        }
      }

      > div:last-child {
        flex: 1;
        padding-right: 10px;

        > div {
          align-items: start;
          display: flex;
          flex-direction: column;

          > a {
            font-size: 1.3rem;
          }
        }

        .bottom {
          align-self: stretch;

          > .left > div {
            margin-left: 10px;

            > a, b {
              margin-right: 5px;
            }

            > a {
              background: #eee;
              border: 1px solid black;
              color: #555;
              font-size: 0.53rem;
              padding: 1px 5px;

              &:hover {
                background: #ddd;
                color: black;
                text-decoration: none;
              }
            }
          }
        }
      }
    }

    > .reply-count {
      flex: 1 100px;

      *:not(:last-child) {
        margin-right: 5px;
      }
    }

    > .last-reply {
      flex: 3 100px;
      padding: 10px;
    }
  }

  // Alternate threads
  > .thread:nth-child(odd) {
    background: #777;
    background: linear-gradient(to top, #777, #888);
    min-height: 100px;
  }

  > .thread:nth-child(even) {
    background: #999;
    background: linear-gradient(to top, #999, #aaa);
    min-height: 100px;
  }
}
