.thread-info {
  color: white;

  > h1 {
    font-size: 1.6rem;
    margin-bottom: 0;
  }

  > h2 {
    font-size: 0.9rem;
    margin-top: 0;
  }
}

.before-stack {
  margin-bottom: 20px;
}

.after-stack {
  margin: 20px 0;
  position: relative;

  > p {
    display: inline-block;
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
    width: 100%;
  }

  > .page-buttons {
    margin: 0;
  }

  > .new-thread {
    display: inline-block;
    position: absolute;
    right: 0;

    > a {
      background: #eee;
      border-radius: 2px;
      box-shadow: 0 0 3px black;
      display: inline-block;
      padding: 5px;
      width: 200px;
      text-align: center;

      &:hover {
        background: #bbb;
        text-decoration: none;
      }
    }
  }
}

.post-list {
  margin: 30px 0;
}

#leave-a-post {
  margin: 30px 0;
  text-align: center;

  > form {
    display: inline-flex;
    flex-direction: column;

    > button {
      background: #333;
      border: 0;
      border-radius: 1px;
      box-shadow: 0 0 2px black;
      color: #999;
      font-size: 1rem;
      padding: 5px 0;
      transition: all 0.15s ease;

      &:hover {
        background: black;
        color: white;
        cursor: pointer;
      }
    }

    > div {
      display: flex;
      justify-content: center;
      margin-bottom: 5px;

      > .left {
        align-items: center;
        background: linear-gradient(to top, #555, #666);
        box-shadow: 0 0 2px black;
        color: white;
        display: flex;
        justify-content: center;
        font-weight: bold;
        margin-right: 5px;
        width: 120px;
      }

      > textarea {
        border: 0;
        font-size: 1rem;
        resize: none;
      }
    }
  }
}

.page-buttons {
  border-radius: 3px;
  box-shadow: 0 0 3px black;
  display: inline-flex;
  margin: 0;

  .selected-page {
    background: linear-gradient(to top, black, #555);
    color: white;

    &:hover {
      text-decoration: none;
    }
  }

  > span {
    width: 1px;
    background-color: #bbb;
    margin: 0;
    padding: 0;
  }

  > a {
    background: #ccc;
    color: #555;
    font-size: 1rem;
    padding: 5px 15px;

    &:not(.selected-page):hover {
      background: #aaa;
      color: #333;
      text-decoration: none;
    }
  }

  > a:first-child {
    border-radius: 3px 0 0 3px;
  }

  > a:last-child {
    border-radius: 0 3px 3px 0;
  }
}
