.topbar {
  height: 50px;
  padding: 0 50px;
  position: relative;
  top: 0;
  z-index: 55;
}

.topbar-left > a, .topbar-right > nav > a {
  align-items: center;
  color: white;
  display: flex;
  font-weight: bold;
  justify-content: center;
  padding: 0 10px;
  text-decoration: none;
  transition: all 0.2s ease;

  > span {
    text-align: center;
  }

  &:hover {
    background: white;
    color: black;
  }
}

.topbar-left > .toggle-sidebar {
  align-self: center;
  background: none;
  border-radius: 50%;
  height: 35px;
  padding: 20px;
  transition: all 0.2s ease;
  width: 35px;

  &:hover {
    background: #eee;
    color: black;
    cursor: pointer;
    transition: all 0.2s ease;

    > span {
      padding: 3.5px 0;
    }

    .bar {
      background: black;
    }
  }

  > span {
    height: 0.15rem;
    padding: 3px 0;
    
    > .bar {
      height: inherit;
      transition: all 0.2s ease;
      width: 20px;
    }
  }
}

.topbar-right {
  
  > *:not(nav) {
    padding: 0 10px;
  }

  > .logged-in {
    color: #bbb;
    padding-right: 0;

    a:hover {
      text-decoration: underline;
    }

    > div > .left {
      margin-right: 5px;

      > a > img {
        display: block;
      }
    }
  }

  > .search {
    padding: 0 10px;
    position: relative;

    > .options {
      background: #999;
      display: none;
      top: 100%;

      > div, > p {
        padding: 10px;
      }

      > p {
        background: #333;
      }
    }

    input[type='text'] {
      background: #eee;
      border-radius: 50px;
      padding: 5px 30px 5px 10px;
      width: 300px;

      &:focus, &:hover {
        background: white;
        box-shadow: 0 0 3px 3px rgb(0, 162, 255);
      }
    }

    button {
      background: transparent;
      color: #aaa;
      position: absolute;
      right: 15px;
      transition: all 0.2s ease;

      &:hover {
        color: black;
        cursor: pointer;
      }
    }
  }
}
