// Place all the styles related to the Topicos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.h-topico {
  text-align: left;
}

.buttons-div {
  display: inline;
  text-align: left;
  
  .selected-button {
    background-color: #333;
    border-color: #333;
    box-shadow: 0 0 3px black;
    color: white;
    margin-right: 7px;
  }

  form {
    display: inline;
  }

  input[type='submit'], button[type='submit'] {
    box-shadow: 0 0 3px black;
    margin-right: 7px;
    transition: all 0.1s
  }

  input[type='submit']:hover, button[type='submit']:hover {
    background-color: #ddd;
    border-color: #ddd;
    color: black;
  }
}

.first-buttons-div {
  margin-bottom: 12px;
}

.new-thread {
  a {
    background-color: #aaa;
    box-shadow: 0 0 3px black;
    display: inline-block;
    padding: 3px 8px;
    transition: all 0.1s;
  }

  a:hover {
    color: #ddd;
    background-color: #555;
    text-decoration: none;
  }
}

.post-wrapper {
  background-color: #bbb;
  box-shadow: 0 0 3px black;
  margin-top: 15px;
  margin-bottom: 15px;
  min-height: 43%;
  position: relative;
  transition: all 0.2s;

  div {
    display: inline-block;
    height: 100%;
    padding: 10px;
    position: absolute;
  }

  .options {
    color: black;
    position: absolute;
    bottom: 10px;
    right: 10px;

    form {
      display: inline;
    }

    a {
      background-color: #777;
      display: inline-block;
      margin-left: 3px;
      padding: 3px 8px;
      transition: all 0.1s;
    }

    a:hover {
      background-color: #999;
      text-decoration: none;
    }

    input[type='submit'] {
      background-color: #777;
      border-color: #777;
      font-weight: bold;
      transition: all 0.1s;
    }

    input[type='submit']:hover {
      background-color: #999;
      border-color: #999;
    }
  }

  .post-info {
    color: #555;

    .post-right {
      position: absolute;
      right: 10px;
      width: 75px;

      .post-op-tag {
        background-color: #555;
        border-radius: 3px;
        color: rgb(108, 108, 255);
        display: inline-block;
        text-align: center;
        width: 35px;
      }

      .post-num {
        position: absolute;
        margin-left: 50px;
        right: 0;
      }
    }
  }

  .post-edit-msg {
    color: #eee;
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  .user-info {
    background-color: #aaa;
    border-right: 1px solid #999;
    color: #555;
    left: 0;
    text-align: center;
    width: 20%;

    a {
      color: black;
    }
  }

  .user-msg {
    right: 0;
    text-align: left;
    width: 80%;

    hr {
      background-color: #999;
      margin-top: 0.5%;
    }
  }
}

.thread-headers {
  border-bottom: 1px solid black;
  padding: 5px;

  div {
    height: 100%;
    position: relative;
    text-align: left;

    div {
      display: inline-block;
      padding: 3px;
      width: 70%;
    }

    .second {
      position: absolute;
      text-align: center;
      width: 11%;
    }
    
    .third {
      position: absolute;
      right: 0;
      text-align: center;
      width: 19%;
    }
  }
}

.thread-wrapper-even {
  background-color: #888;
}

.thread-wrapper-odd {
  background-color: #aaa;
}

.thread-wrapper-even:hover {
  background-color: #666;
}

.thread-wrapper-odd:hover {
  background-color: #ccc;
}

.thread-wrapper-even, .thread-wrapper-odd {
  border-bottom: 1px solid #777;
  transition: all 0.2s;

  div {
    height: 100%;
    position: relative;
    text-align: left;
    
    div {
      color: white;
      display: inline-block;
      padding: 5px;
      text-align: left;
      width: 70%;

      span {
        color: black;
        position: absolute;
        bottom: 5px;
        right: 5px;
      }
    }

    .second {
      position: absolute;
      text-align: center;
      width: 11%;
    }
    
    .third {
      position: absolute;
      right: 0;
      text-align: center;
      width: 19%;
    }

    .mini-buttons-div {
      display: inline-block;
      font-size: 10px;
      width: auto;
      
      form {
        display: inline;
      }
    
      input[type='submit'] {
        box-shadow: 0 0 2px black;
        padding: 0 2px;
        margin-right: 7px;
        transition: all 0.1s
      }
    
      input[type='submit']:hover {
        background-color: #ddd;
        border-color: #ddd;
        color: black;
      }
    }
  }

  h2 {
    font-size: 21px;
  }
}

.wrapper-shadow {
  box-shadow: 0 0 3px black;
  margin: 15px 0;
}
