// Place all the styles related to the Topicos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.h-topico {
  text-align: left;
}

.buttons-div {
  display: inline;
  text-align: left;
  
  .selected-button {
    background-color: #333;
    border-color: #333;
    box-shadow: 0 0 3px black;
    color: white;
    margin-right: 7px;
  }

  form {
    display: inline;
  }

  a {
    background-color: #aaa;
    box-shadow: 0 0 3px black;
    margin-right: 7px;
    padding: 3px 8px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
  }

  a:hover {
    background-color: #ddd;
    border-color: #ddd;
    color: black;
    text-decoration: none;
  }

  /* input[type='submit'], button[type='submit'] {
    box-shadow: 0 0 3px black;
    margin-right: 7px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
  }

  input[type='submit']:hover, button[type='submit']:hover {
    background-color: #ddd;
    border-color: #ddd;
    color: black;
  } */
}

.new-thread {
  a {
    background-color: #aaa;
    box-shadow: 0 0 3px black;
    display: inline-block;
    padding: 3px 8px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
  }

  a:hover {
    color: #ddd;
    background-color: #555;
    text-decoration: none;
  }
}

.points {
  color: black;
  display: inline-block;
  margin-right: 7px;
  position: relative;
  top: 7px;
}

.thread-headers {
  border-bottom: 1px solid black;
  font-size: 0;
  padding: 5px;

  div {
    height: 100%;
    text-align: left;

    div {
      display: inline-block;
      font-size: 16px;
      padding: 3px;
      width: 65%;
    }

    .second {
      text-align: center;
      width: 15%;
    }
    
    .third {
      right: 0;
      text-align: center;
      width: 20%;
    }
  }
}

.thread-wrapper-even {
  background-color: #888;
}

.thread-wrapper-odd {
  background-color: #aaa;
}

.thread-wrapper-even:hover {
  background-color: #666;
}

.thread-wrapper-odd:hover {
  background-color: #ccc;
}

.thread-wrapper-even, .thread-wrapper-odd {
  font-size: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  
  div {
    text-align: left;
    width: 100%;

    div {
      color: white;
      display: inline-block;
      font-size: 16px;
      padding: 5px;
    }

    .avatar-div {
      font-size: 0;
      text-align: center;
      vertical-align: top;
      width: 10%;

      img {
        max-width: 70px;
        max-height: 70px;
        width: 100%;
        height: 100%;
      }
    }
    
    .first {
      position: relative;
      text-align: left;
      width: 55%;

      span {
        color: black;
        position: absolute;
        bottom: 5px;
        right: 5px;
      }
    }
  
    .second {
      text-align: center;
      vertical-align: top;
      width: 15%;
    }
    
    .third {
      text-align: center;
      vertical-align: top;
      width: 20%;
    }

    .mini-buttons-div {
      display: inline-block;
      font-size: 10px;
      width: auto;
      
      form {
        display: inline-block;
      }
    
      input[type='submit'] {
        box-shadow: 0 0 2px black;
        padding: 0 2px;
        margin-right: 7px;
        -webkit-transition: all 0.1s;
        -moz-transition: all 0.1s;
        -ms-transition: all 0.1s;
        -o-transition: all 0.1s;
        transition: all 0.1s;
      }
    
      input[type='submit']:hover {
        background-color: #ddd;
        border-color: #ddd;
        color: black;
      }

      .points {
        color: black;
        display: inline-block;
        margin-right: 0;
        position: relative;
        top: 7px;
      }
    }
  }

  h2 {
    font-size: 21px;
  }
}

.wrapper-shadow {
  box-shadow: 0 0 3px black;
  margin: 15px 0;
}
