.user-panel > div {
  height: 200px;
  width: 600px;

  > .left {
    flex: 0 200px;
    
    > img {
      height: 200px;
      width: 200px;
    }
  }

  > .right {
    background: #ddd;
    color: #555;
    flex-basis: 400px;

    > .bottom > *:first-child {
      margin-right: 10px;
    }
  }
}

.user-row {
  a {
    transition: all 0.1s ease;

    &:hover {
      font-size: 1.1rem;
      text-decoration: none;
    }
  }

  > div {
    align-items: flex-end;
    display: flex;
    flex: 0 400px;

    > .right {
      margin-left: 10px;
    }
  }

  > .left {
    justify-content: flex-start;
  }

  > .middle {
    justify-content: center;
  }

  > .right {
    justify-content: flex-end;
  }
}
