// Place all the styles related to the UsuarioSessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-wrapper {
  color: black;
  display: inline-block;
  background-color: #ddd;
  border-radius: 11px;
  box-shadow: 0 0 5px black;
  margin: 7% auto 0;
  padding: 2%;
  width: auto;

  h1 {
    margin-bottom: 15%;
  }

  input, textarea {
    box-shadow: 0 0 2px black;
    border-width: 0;
  }
}
