// Place all the styles related to the Usuarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thread-table {
  box-shadow: 0 0 3px black;
  display: inline-block;
  table-layout: auto;
  width: 100%;

  td {
    background-color: #ddd;
    border: 1px solid black;
    color: black;
    width: 100%;
  }

  th {
    background-color: #444;
    border: 1px solid black;
    padding: 11px;
  }
  
  .td-titulo {
    padding: 11px;
    text-align: left;
  }
}

.user-list {
  color: white;
  margin-top: 5%;
  position: relative;
  text-align: center;

  b {
    a {
      color: white;
      transition: all 0.2s;
    }
  }

  a:hover {
    text-decoration: none;
    font-size: 19px;
    transition: all 0.2s;
  }

  hr {
    background-color: white;
  }

  .first {
    position: absolute;
    left: 0;
  }

  .post-number {
    position: absolute;
    right: 0;
  }
}