// Place all the styles related to the Usuarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar-img {
  img {
    height: 125px;
    width: 125px;
  }
}

.thread-table {
  box-shadow: 0 0 3px black;
  display: inline-block;
  table-layout: auto;
  width: 100%;

  td {
    background-color: #ddd;
    border: 1px solid black;
    color: black;
    width: 100%;
  }

  th {
    background-color: #444;
    border: 1px solid black;
    padding: 11px;
  }
  
  .td-titulo {
    padding: 11px;
    text-align: left;

    h3 {
      font-size: 21px;
    }
  }
}

.user-list {
  color: white;
  margin-top: 5%;
  position: relative;
  text-align: center;

  b {
    a {
      color: white;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
    }
  }

  a:hover {
    text-decoration: none;
    font-size: 19px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }

  hr {
    background-color: white;
  }

  .first {
    position: absolute;
    left: 0;
  }

  .post-number {
    position: absolute;
    right: 0;
  }
}

.user-options {
  a {
    background-color: #888;
    box-shadow: 0 0 3px black;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
    padding: 3px 8px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
  }

  a:hover {
    background-color: #aaa;
    text-decoration: none;
  }
}