- remote = true
- if !defined? source.section
  - if (find_post_position(source) + 2) % 10 == 1
    - last_post = Post.where(topic_id: source.topic.id).order(created_at: :desc).limit(1)[0];
    - if source.id == last_post.id
      - remote = false

%div.modal{ tabindex: '-1' }
  %div.modal-box
    %div.header
      Remoção

      %button.modal-close
        %i.fas.fa-times-circle

    %div.content
      Confirmar remoção?

      %div
        = button_to 'Sim', source, method: :delete, remote: remote, class: 'modal-submit'

        %button.modal-close
          Não

:javascript
  setUpModal(#{remote});
