%div.modal{ tabindex: '-1' }
  %div.modal-box
    %div.header
      Remoção

      %button.modal-close
        %i.fas.fa-times-circle

    %div.content
      Confirmar remoção?

      %div
        = button_to 'Sim', source_item, method: :delete, remote: remote, class: 'modal-submit'

        %button.modal-close
          Não

:javascript
  setUpModal(#{remote});
