%nav.localization
  = link_to 'Início', main_path
  >
  %b Área geral

%div.left-align
  %h2 
    %b Área geral

= render 'topicos_list', is_search: false

%br/
- if current_usuario
  %b
    = link_to 'Novo tópico', new_topico_path
- else
  Você precisa logar para criar um tópico.
%br/
%br/
