%nav.localization
  = link_to 'Início', main_path
  > 
  %b Resultados

%div.header-left-align
  %h2 
    %b Resultados

- if @topicos.any?
  %div.left-align
    = render 'topicos_list', is_search: true, is_showing: false
- else
  %p Nenhum resultado para a pesquisa

%br/